/*RESETS*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
div,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}












/* HTML5 display-role reset for older browsers */

article,
div,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}










/*****MOBILE STYLING******/

nav ul li {
  padding: 30px 0px;
  list-style: none;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

nav a:hover {
  text-decoration: none;
}

.hide {
  display: none;
}






/*NAV ALIGNMENT*/

.navWrapper {
  position: fixed;
  background-color: #bcee7f;
  grid-area: navvy;
  padding: 0px;
  margin: 0;
  font-family: 'Poiret One', sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "logo logo logo logo handle" ". . nav . .";
}






/*NAV GRID DEFS*/

#menu {
  grid-area: menu;
}

#about {
  grid-area: about;
}

#contact {
  grid-area: contact;
}



#navLogo {
  width: 100%;
  padding: 0px;
  grid-area: logo;
  text-align: center;
  padding-top: 5px;
  margin-top: 10px;
}


.menuHideHdr {
  display: none;
}

#logoLg {
  display: block;
  width: 78%;
  height: auto;
  justify-content: center;
  padding: 0px 0px 10px 25px;
}

#navList {
  overflow: hidden;
  padding: 0;
  transition: max-height 0.4s;
  grid-area: nav;
}







/*Nav icon*/

#handler {
  align-self: center;
  justify-self: center;
  /*border: red solid 1px;*/
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handle {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  grid-area: handle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 330ms ease-out;
  /*border: 1px black solid;*/
  vertical-align: center;
}

.handle.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: 5px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(.54, -.81, .57, .57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(.54, -.81, .57, .57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}






/*HERO Image*/

#hero {
  grid-area: main;
  background-image: url("busyDay.jpg");
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: grid;
  align-items: center;
  text-align: center;
}

#hero>h1 {
  color: #bcee7f;
  text-transform: uppercase;
  font-size: 37px;
  font-family: "Khula", sans-serif;
}

#cursive {
  font-family: "Damion";
  font-weight: lighter;
}

#redTxt {
  color: red;
  text-shadow: 2px 1px 0px white, 3px 2px 0px black;
  font-family: "Khula";
}






/*MENU Parralax SECTION*/

#innerMenu ul {
  padding: 10px;
}

#innerMenu ul li p {
  font-family: "sans-serif";
  font-weight: lighter;
}

#appScroll {
  grid-area: appScroll;
  background-image: url("springRoll.jpg");
  height: 400px;
  background-position: center;
  z-index: -10;
  display: grid;
  width: 100%;
  align-items: center;
  /*position: fixed;*/
}

#hdrEntree {
  grid-area: hdrE;
}

#descEntree {
  grid-area: descE;
}

#entreeScroll {
  grid-area: entreeScroll;
  background-image: url("padPeanut.jpg");
  height: 400px;
  background-position: center;
  z-index: -10;
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "." "." "hdrE" "descE" ".";
}

#descNoodles {
  grid-area: descN;
}

#hdrNoodles {
  grid-area: hdrN;
}

#noodleScroll {
  grid-area: noodleScroll;
  background-image: url("phad.jpg");
  height: 400px;
  background-position: center;
  z-index: -10;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "."".""hdrN""descN"".";
}

#hdrRice {
  grid-area: hdrR;
}

#descRice {
  grid-area: descR;
}

#riceScroll {
  grid-area: riceScroll;
  background-image: url("friedRice.jpg");
  height: 400px;
  background-position: center;
  z-index: -10;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "." "." "hdrR" "descR" ".";
}

#hdrCurry {
  grid-area: hdrC;
}

#descCurry {
  grid-area: descC;
}

#curryScroll {
  grid-area: curryScroll;
  background-image: url("redCurry.jpg");
  height: 400px;
  background-position: center;
  z-index: -10;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: "." "." "hdrC" "descC" ".";
}






/*                  Food Menu Styling*/



.menuHide {
  background-repeat: no-repeat;
  background-size: cover;
}

#apps {
  grid-area: apps;
}

#entree {
  grid-area: entree;
}

#noodles {
  grid-area: noodles;
}

#rice {
  grid-area: rice;
}

#curry {
  grid-area: curry;
}

#drinks {
  grid-area: drinks;
}

#drinks li {
  font-family: sans-serif;
  font-weight: lighter;
}

#menuSec {
  grid-area: prices;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "inner";
}


#innerMenu img {
  grid-area: logo;
  padding: 30px 0px;
  align-self: center;
  width: 70%;
  justify-self: center;
}

#innerMenu p {
  /*font-family: "Montserrat";*/
  padding-bottom: 15px;
   color: #404040;
}

#innerMenu {
  grid-area: inner;
  display: grid;
  grid-template-areas: 1fr;
  grid-template-areas: "logo" "apps" "appScroll" "entree" "rice" "noodles" "curry" "drinks";
  background-color: #bcee7f;
  text-align: center;
}


.foodCourse {
  font-size: 1.5em;
  text-decoration: underline;
}

.imgHdr {
  font-family: "Source Sans Pro";
  text-decoration: none;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: white;
  font-size: 37px;
  display: table-cell;
  vertical-align: middle;
}

.imgP {
  text-transform: none;
  font-size: 20px;
  color: white;
  display: table-cell;
  padding: 5px;
}

#menuSec h2 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 7px;
}


#menuSec h5 {
  font-weight: bold;
  padding: 10px;
}

#menuSec h4 {
  font-size: 2em;
  padding: 10px;
}


/*ABOUT SECTION*/

#abtWrapper {
  grid-area: abtUs;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "abt" "info" "social";
  padding: 0px 30px 120px 30px;
  margin: 0px;
  /*background: linear-gradient(180deg, #bcee7f 22%, white 5%)*/
}



#social {
  grid-area: social;
  display: flex;
  flex-direction: column;
}

#abtPic {
  justify-self: center;
  grid-area: pic;
  border-radius: 50%;
  border: white solid 5px;
}

#abtHdr {
  grid-area: abt;
  text-align: center;
  font-family: "Raleway";
  font-weight: lighter;
  padding-top: 30px;
  font-size: 2.5em;
}

#sclHdr {
  color: #bcee7f;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-family: "Khula";
  padding: 30px 0px 0px 0px;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
}

#social a {
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  color: #797979;
}

#social a:hover{
  color: #bcee7f;
}


#abtWrapper p {
  grid-area: info;
  text-align: center;
  padding-top: 30px;
  letter-spacing: .5px;
  line-height: 1.7em;
  color: #797979;
  font-weight: bold;
  font-size: 1.4em;
}






/*FOOTER*/

#footSec {
  background-color: #efefef;
  grid-area: ftr;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hdr" "nmbr" "addy " "map" "hours" "copy";
}

#map {
  grid-area: map;
  width: 80%;
  height: 400px;
  background-color: grey;
  justify-self: center;
}

#hrs th {
  padding: 0px 20px 10px 0px;
}






/*slideshow*/

#slider {
  grid-area: slider;
  width: 100%;
  height: 400px;
  display: grid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "prevBtn nextBtn";
  box-sizing: border-box;
  margin: 50px 0px;
}

#slider>.btn {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

#nextImg {
  grid-area: nextBtn;
  align-self: center;
  justify-self: end;
}

#prevImg {
  grid-area: prevBtn;
  align-self: center;
}





/*footer grid Defs*/

#hdr {
  font-weight: bold;
  font-size: 2em;
  grid-area: hdr;
  text-align: center;
  padding: 30px 0;
}

#nmbr {
  text-align: center;
  grid-area: nmbr;
  padding-bottom: 30px;
}

#nmbr a {
  font-size: 2em;
}

#addy {
  text-align: center;
  grid-area: addy;
}

#addy h1 {
  padding: 30px 0;
  font-size: 2em;
  font-weight: bold;
}

#addy p {
  padding-bottom: 30px;
  font-size: 1.4em;
  line-height: 1.3em;
}

#hrs {
  justify-self: center;
  text-align: center;
  grid-area: hours;
}

#hrs h1 {
  padding: 30px 0;
  font-size: 2em;
  font-weight: bold;
}

#hrs tbody {
  font-size: 1.4em;
}

#copy {
  font-weight: bold;
  padding: 40px 0 10px 0;
  grid-area: copy;
  text-align: center;
}

/*FULL LAYOUT*/

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "navvy" "main" "abtUs" "prices" "slider" "ftr";
}














/********iPads - ipad PRO*****/

@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) {
  .handle,
  .menuHideHdr{
    display: none;
  }
  /*NAVIGATION*/
  .navWrapper {
    grid-template: "logo nav" minmax(100px, auto) /1fr 1fr;
  }

  #navList {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-areas: "about menu contact"
  }

  #abtHdr {
    text-align: start;
  }

  #logoLg {
    display: block;
    height: auto;
    justify-content: center;
    padding: 0px 10px;
  }

  /*food menu*/
  /*abt section*/
  #abtWrapper {
    /*background: linear-gradient(180deg, #bcee7f 31%, white 5%);*/
    grid-template-columns: 70% 30%;
    grid-template-areas: "abt social" "info social";
  }

  #abtWrapper p {
    text-align: start;
  }


  /*SLIDESHOW*/
  #slider {
    height: 600px;
    margin: 100px 0px;
  }

  /*FULL LAYOUT*/
  #wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "navvy" "main" "abtUs" "prices" "slider" "ftr";
  }
}











/*******Desktop and Laptop******/

@media only screen and (min-width: 1025px) {
  .imageSm,
  .menuHide,
  #appScroll,
  #riceScroll,
  #curryScroll,
  #noodleScroll,
  #entreeScroll {
    display: none;
  }
  /*NAVIGATION*/
  nav li a:hover {
    background-image: url("flower.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 15px;
    color: black;
  }

  #navList {
    display: grid;
    padding: 10px 0px;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "menu contact about";
  }

  .navWrapper {
    grid-template: "logo logo . nav" minmax(100px, auto) /1fr 1fr 1fr 1fr;
    height: 100px;
    width: 100%;
  }

  #logoLg {
    display: block;
    width: auto;
    height: 78%;
  }

  .handle {
    display: none;
  }

  /*LANDING HERO*/
  #hero {
    height: 700px;
  }
  /*ABOUT SECTION*/
  #abtWrapper {
    padding: 20px 200px;
    padding-bottom: 150px;
    grid-template-columns: 70% 30%;
    grid-template-areas: "abt social" "info social";
    /*background: linear-gradient(180deg, #bcee7f 213px, white 5%)*/
  }
  #abtHdr {
    text-align: start;
  }

  #abtWrapper p{
    text-align: start;
  }

  /*slideshow*/
  #slider {
    grid-area: slider;
    width: 100%;
    height: 700px;
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "prevBtn nextBtn";
    box-sizing: border-box;
    margin: 170px 0px 200px 0px;
  }

  #slider>.btn {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
  }

  #nextImg {
    grid-area: nextBtn;
    align-self: center;
    justify-self: end;
  }

  #prevImg {
    grid-area: prevBtn;
    align-self: center;
  }

  /*FOOD MENU*/
  .menuHideHdr {
    display: block;
  }

  #menuSec {
    grid-area: prices;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: ". inner .";
    padding: 30px 0;
  }

  #innerMenu img {
    width: 510px;
  }

  #innerMenu {
    grid-area: inner;
    display: grid;
    grid-template-areas: repeat( 5, 1fr);
    grid-template-areas: ". logo logo logo ." "apps apps . entree entree" "rice rice . entree entree" "noodles noodles . curry curry" ". drinks drinks drinks .";
    background-color: #bcee7f;
    padding: 20px;
    text-align: center;
  }

  #footSec {
    padding: 0px 200px;
    grid-area: ftr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hdr hdr" "nmbr hours" "map addy" "copy copy";
  }

  #addy,
  #nmbr {
    align-self: center;
  }
  /*FULL LAYOUT*/
  #wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: "navvy navvy navvy" "main main main" "abtUs abtUs abtUs" "prices prices prices" ". slider ." "ftr ftr ftr";
  }
}


footer,
#abtWrapper {
  font-family: 'Poiret One', sans-serif;
}